<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <button mat-raised-button routerLink='/project/create' type="submit" class="btn btn-danger pull-right">
                    <i class="material-icons mr-1">add_circle</i> <strong>Create Project</strong>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Projects</h4>
                        <p class="card-category"> Here is a list of all Projects</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Starting Date
                                    </th>
                                    <th>
                                        Ending Date
                                    </th>
                                    <th>
                                        Amount
                                    </th>
                                    <th>
                                        Notes
                                    </th>
                                    <th></th>
                                </thead>
                                <tbody *ngIf="!projects.length">
                                    <tr class="text-capitalize">
                                        <td>
                                            No Project Exist.
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="projects.length">
                                    <tr class="text-capitalize" *ngFor='let project of projects' (mouseenter)="project.options=true" (mouseleave)="project.options=false">
                                        <td>
                                            {{project.name}}
                                        </td>
                                        <td>
                                            {{project.startDate | date : 'MMMM d,y'}}
                                        </td>
                                        <td>
                                            {{project.endDate | date : 'MMMM d,y'}}
                                        </td>
                                        <td>
                                            {{project.amount}}
                                        </td>
                                        <td>
                                            {{project.notes}}
                                        </td>
                                        <td>
                                            <i [hidden]="!project.options" matTooltip="Edit Project"  class="material-icons cursor-pointer mr-2" routerLink='/project/edit/{{project.id}}'>create</i>
                                            <i (click)="deleteProject(project.id)" matTooltip="Remove Project"  [hidden]="!project.options" class="material-icons cursor-pointer">delete</i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>