<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <button mat-raised-button routerLink='/expense/create' type="submit" class="btn btn-danger pull-right">
                    <i class="material-icons mr-1">add_circle</i> <strong>Create Expense</strong>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Expenses</h4>
                        <p class="card-category"> Here is a list of all Expenses</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Creation Date
                                    </th>
                                    <th></th>
                                </thead>
                                <tbody *ngIf="!expenses.length">
                                    <tr class="text-capitalize">
                                        <td>
                                            No Expense Exist.
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="expenses.length">
                                    <tr (click)="listExpenseItemsByExpenseId(expense)" class="text-capitalize" *ngFor='let expense of expenses' (mouseenter)="expense.options=true"
                                        (mouseleave)="expense.options=false">
                                        <td class="cursor-pointer">
                                            {{expense.name}}
                                        </td>
                                        <td>
                                            {{expense.createdAt | date : 'MMMM d,y'}}
                                        </td>
                                        <td>
                                            <i [hidden]="!expense.options" matTooltip="Edit Expense" class="material-icons cursor-pointer mr-2" routerLink='/expense/edit/{{expense.id}}'>create</i>
                                            <i (click)="deleteExpense(expense.id)" matTooltip="Remove Expense" [hidden]="!expense.options" class="material-icons cursor-pointer">delete</i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">{{selectedExpense.name || 'Expense'}}'s Items</h4>
                        <p class="card-category"> Here is a list of items of {{selectedExpense.name || 'Expense'}}</p>
                        <div class="row">
                            <div class="col-md-12">
                                <button mat-raised-button (click)="openDialogForCreation(selectedExpense)" type="submit" class="btn btn-success pull-right">
                                    <i class="material-icons mr-1">add_circle</i> <strong>Add</strong>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Creation Date
                                    </th>
                                    <th>
                                    </th>
                                </thead>
                                <tbody *ngIf="!expenseItems.length">
                                    <tr class="text-capitalize">
                                        <td>
                                            No Expense Item Exist.
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="expenseItems.length">
                                    <tr class="text-capitalize" *ngFor='let expenseItem of expenseItems' (mouseenter)="expenseItem.options=true" (mouseleave)="expenseItem.options=false">
                                        <td class="cursor-pointer">
                                            {{expenseItem.name}}
                                        </td>
                                        <td>
                                            {{expenseItem.createdAt | date : 'MMMM d,y'}}
                                        </td>
                                        <td>
                                            <i [hidden]="!expenseItem.options"  matTooltip="Edit Expense Item" (click)="openDialogForUpdation(expenseItem)" class="material-icons cursor-pointer mr-2">create</i>
                                            <i (click)="deleteExpenseItem(selectedExpense.id,expenseItem.id)"  matTooltip="Remove Expense Item" [hidden]="!expenseItem.options" class="material-icons cursor-pointer ">delete</i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>