<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Create New Employee</h4>
                        <p class="card-category">Complete profile to create it</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="employeeForm">
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Fist Name" formControlName="firstName" type="text" required>
                                        <mat-error *ngIf="employeeForm.get('firstName').hasError('required')">
                                            First Name is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="middleName" placeholder="Middle Name" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="lastName" placeholder="Last Name" type="text" required>
                                        <mat-error *ngIf="employeeForm.get('lastName').hasError('required')">
                                            Last Name is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="email" placeholder="Email address" type="email" required>
                                        <mat-error *ngIf="employeeForm.get('email').hasError('required')">
                                            Email is <strong>required</strong>
                                        </mat-error>
                                        <mat-error *ngIf="employeeForm.get('email').hasError('email') && !employeeForm.get('email').hasError('required')">
                                            Please enter a valid email address
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="addresses" placeholder="Address" type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <!-- <div class="row">
                              <div class="col-md-12">
                                <label>About Him</label>
                                <mat-form-field class="example-full-width">
                                   <textarea matInput placeholder="Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo."></textarea>
                                 </mat-form-field>
                              </div>
                          </div> -->
                            <button mat-raised-button [disabled]="employeeForm.status == 'INVALID'" (click)="createEmployee()" type="submit" class="btn btn-danger pull-right">
                                <i class="material-icons mr-1">add_circle</i> <strong>Create</strong></button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a>
                            <img class="img" src="/assets/img/faces/marc.jpg" />
                        </a>
                    </div>
                    <div class="card-body">
                        <!-- <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                      <h4 class="card-title">Alec Thompson</h4>
                      <p class="card-description">
                          Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                      </p> -->
                        <!-- <a  class="btn btn-danger btn-round">Follow</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>