<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Project Detail</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="projectForm">
                            <div class="row">
                                <div class="col-md-8">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Project Name" formControlName="name" type="text" required>
                                        <mat-error *ngIf="projectForm.get('name').hasError('required')">
                                            Project Name is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4 mb-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Amount" formControlName="amount" type="number" required>
                                        <mat-error *ngIf="projectForm.get('amount').hasError('required')">
                                            Amount is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <input matInput formControlName="startDate" [matDatepicker]="picker" placeholder="Starting Date">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                        <mat-error *ngIf="projectForm.get('startDate').hasError('required')">
                                            Start Date is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6 mb-2">
                                    <mat-form-field>
                                        <input matInput [disabled]='!projectForm.value.startDate' [min]="projectForm.value.startDate" formControlName="endDate" [matDatepicker]="picker1"
                                            placeholder="Ending Date">
                                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                        <mat-datepicker #picker1></mat-datepicker>
                                        <mat-error *ngIf="projectForm.get('endDate').hasError('required')">
                                            End Date is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <textarea formControlName="notes" matInput placeholder="Notes"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button [disabled]="projectForm.status == 'INVALID'" (click)="updateProject()" type="submit" class="btn btn-success pull-right">
                                <i class="material-icons mr-1">add_circle</i> <strong>update</strong></button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Add Employees into Project</h4>
                    </div>
                    <div class="card-body">
                        <div class="row" *ngFor='let projectEmployee of projectEmployees; let i=index'>
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                    <span matPrefix>{{i+1}} &nbsp;</span>
                                    <mat-select placeholder="Employees" [(ngModel)]="projectEmployee.employeeId">
                                        <mat-option *ngFor="let employee of employees" [value]="employee.id">{{employee.firstName}}
                                            {{employee.middleName}} {{employee.lastName}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                    <span matPrefix>{{i+1}} &nbsp;</span>
                                    <mat-select placeholder="Rates/" [(ngModel)]="projectEmployee.ratingStrategy">
                                        <mat-option *ngFor="let rate of employeesRatingList" [value]="rate">{{rate}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Amount" [(ngModel)]="projectEmployee.amount" type="number">
                                    <mat-icon *ngIf='!projectEmployees[i+1]' [ngClass]="!projectEmployee.employeeId  || !projectEmployee.ratingStrategy || !projectEmployee.amount  ? 'disable':'enable'"
                                        (click)="addProjectEmployee(projectEmployee,false)" matSuffix class="mr-2 cursor-pointer">add_circle</mat-icon>
                                    <mat-icon class="cursor-pointer" *ngIf='i>0' (click)="removeProjectEmployee(i)" matSuffix>remove_circle</mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button mat-raised-button (click)="save()" type="submit" class="btn btn-danger pull-right">
                                    <i class="material-icons mr-1">add_circle</i> <strong>Save</strong></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>