<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <button [disabled]="!expenseForm.value.name" (click)='updateExpense()' mat-raised-button class="btn btn-success pull-right">
                    <i class="material-icons mr-1">update</i> <strong>Update</strong>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Create Expense</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="expenseForm">
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Expense Name" formControlName="name" type="text" required>
                                        <mat-error *ngIf="expenseForm.get('name').hasError('required')">
                                            Name is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">{{expenseForm.value.name || "Expense's"}} Items</h4>
                        <p class="card-category"> Here is a list of items of {{expenseForm.value.name || 'Expense'}}</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12" *ngFor='let item of expenseItems; let i=index'>
                                <mat-form-field class="example-full-width">
                                    <span matPrefix>{{i+1}} &nbsp;</span>
                                    <input matInput placeholder="Expense Item Name" [(ngModel)]="item.name" type="text" required>
                                    <mat-icon *ngIf='!expenseItems[i+1]' [ngClass]="!item.name ? 'disable':'enable'" (click)="addExpenseItem(item.name)" matSuffix
                                        class="mr-2 cursor-pointer">add_circle</mat-icon>
                                    <mat-icon class="cursor-pointer" *ngIf='i>0' (click)="removeExpenseItem(i)" matSuffix>remove_circle</mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>