.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../../../../assets/img/sahi.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.login-card {
    -webkit-animation: rightThenLeft 2s linear;
    flex: 1;
    max-width: 25%;
}

.sign-in-card-header {
    background: linear-gradient(60deg, #785a40, #d3a780) !important;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgb(77, 64, 58) !important;
}

.sign-in-btn {
    color: #fff !important;
    background-color: #99775b !important;
    border-color: #353533 !important;
    box-shadow: 0 2px 2px 0 rgb(93, 74, 60), 0 3px 1px -2px rgb(212, 168, 128), 0 1px 5px 0 rgb(56, 52, 51) !important;
}


@-webkit-keyframes rightThenLeft {
    // 0%   {margin-right:0;}
    0%  {width:0%; opacity: 0;}
    100% {width:40%; opacity: 1;}
}

@media only screen and (max-width: 800px) {
    .login-card {
        max-width: 80% !important;
    }
}
