<div class="login-container">
  <div class="row login-card">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-danger sign-in-card-header">
          <h4 class="card-title"><strong>Login</strong></h4>
        </div>
        <div class="card-body">
          <form [formGroup]="loginForm">
            <div class="row">
              <div class="col-md-12 mt-2">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Email" formControlName="email" >
                  <mat-error *ngIf="loginForm.get('email').hasError('email') && !loginForm.get('email').hasError('required')">
                    Please enter a valid email address
                  </mat-error>
                  <mat-error *ngIf="loginForm.get('email').hasError('required')">
                    Email is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-12 mt-2">
                <mat-form-field class="example-full-width">
                  <input matInput formControlName="password" type="password" placeholder="Password">
                  <mat-error *ngIf="loginForm.get('password').hasError('required')">
                    Password is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-12 mt-2">
                <a class="pull-right"><strong>Forgot Password?</strong></a>
              </div>
            </div>
            <button mat-raised-button [disabled]="loginForm.status == 'INVALID'" (click)="login()" type="submit" class="btn btn-danger mt-4 pull-right sign-in-btn">Login</button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>