<div class="row">
    <div class="col-md-12">
        <i class="material-icons cursor-pointer mr-2 pull-right" (click)="onNoClick()">close</i>
    </div>
    <div class="col-md-12">
        <form [formGroup]="expenseItemForm">
            <div class="col-md-12">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Expense Item Name" formControlName="name" type="text" required>
                    <mat-error *ngIf="expenseItemForm.get('name').hasError('required')">
                        Name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-12">
                <button [disabled]="!expenseItemForm.value.name" (click)='data.callback(expenseItemForm.value,modal)' type='submit' mat-raised-button
                    class="btn btn-success pull-right">
                    <span *ngIf='data.isUpdateAble'>
                        <i class="material-icons mr-1">update</i> <strong>Update</strong>
                    </span>
                    <span *ngIf='!data.isUpdateAble'>
                        <i class="material-icons mr-1">add_circle</i> <strong>Create</strong>
                    </span>
                </button>
            </div>
        </form>
    </div>
</div>