<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <button mat-raised-button routerLink="/employee/create" type="submit" class="btn btn-danger pull-right">
                    <i class="material-icons mr-1">add_circle</i> <strong>Create Employee</strong>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Employees</h4>
                        <p class="card-category"> Here is a list of all Employees</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Address
                                    </th>
                                    <th></th>
                                </thead>
                                <tbody *ngIf="!employees.length">
                                    <tr class="text-capitalize">
                                        <td>
                                            No Employee Exist.
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="employees.length">
                                    <tr class="text-capitalize" *ngFor='let employee of employees' (mouseenter)="employee.options=true" (mouseleave)="employee.options=false">
                                        <td>
                                            {{employee.firstName}} {{employee.middleName}} {{employee.lastName}}
                                        </td>
                                        <td>
                                            {{employee.email}}
                                        </td>
                                        <td>
                                            {{employee.addresses}}
                                        </td>
                                        <td>
                                            <i [hidden]="!employee.options" matTooltip="Edit Employee" class="material-icons cursor-pointer mr-2" routerLink="/employee/profile/{{employee.id}}">create</i>
                                            <i (click)="deleteEmployee(employee.id)" matTooltip="Remove Employee" [hidden]="!employee.options" class="material-icons cursor-pointer">delete</i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>